.form-post, .form-login {
    background-color: $gray-100;

    label {
        color: $gray-600;
    }
}

.form-login {
    input {
        border: none;
    }

    .btn-submit {
        width: 150px;
    }
}

#textContent {
    resize: none;
    height: 120px;
    border-style: hidden hidden solid hidden;
}

.form-search {
    input {
        border-left: none;
        border-color: $light;
        border-radius: 0 25px 25px 0;

        &:focus {
            box-shadow: none;
            border-color: $light;
        }
    }

    label {
        background-color: $white;
        border-color: $light;
        color: $primary;
        border-radius: 25px 0 0 25px;
    }
}