.form-post {
    background-color: $gray-100;

    label {
        color: $gray-600;
    }

    #textContent {
        resize: none;
        height: 120px;
        border: none;

        &:focus {
            box-shadow: none;
        }
    }
}

.form-search {
    input {
        border-left: none;
        border-color: $light;
        border-radius: 0 25px 25px 0;

        &:focus {
            box-shadow: none;
            border-color: $light;
        }
    }

    label {
        background-color: $white;
        border-color: $light;
        color: $primary;
        border-radius: 25px 0 0 25px;
    }
}