.message-container {
    .message {
        padding: .5rem 1rem;
        text-align: center;
        width: fit-content;
        margin: 3rem auto;
        border: 2px outset #ffffff30;
    }

    .success {
        background-color: $success;
    }
    
    .error {
        background-color: $danger;
    }
}
