.message-container {
    .message {
        padding: .25rem 1rem;
        text-align: center;
        width: fit-content;
        border-radius: 3px;
        background: $white;
        font-weight: 600;
    }

    .success {
        border: 3px solid $success;
        color: $success-secondary;
    }

    .error {
        border: 3px solid $danger;
        background-color: $danger-secondary;
    }

    .info {
        border: 3px solid $info;
        background-color: $info-secondary;
    }
}

.message-index {
    position: absolute;
    margin-top: 1em;
}

.message-post {
    height: 40px;
}