nav {
    i, span {
        font-size: 1.25rem;
    }

    i {
        width: 30px;
        text-align: center;
    }

    .active {
        color: $secondary;
    }
}

.custom-link {
    @extend .nav-link;

    border: 1px solid transparent;
    font-size: 18px;
    font-weight: 600;
    width: fit-content;

    &:hover {
        color: $secondary;
    }
}

.nav-profile {
    .profile-pic {
        width: 50px;
        height: 50px;
    }

    a {
        text-decoration: none;
        color: $dark;
        font-weight: 500;
    }
}