.feed-welcome {
    font-size: 3em;

    img {
        width: 185px;
    }
}

.form-container {
    &_post {
        height: inherit;
        .btn-post {
            height: 40px;
        }

        #postBody {
            resize: none;
            height: 120px;
        }
    }
}

#loadMoreButton {
    width: 200px;
    display: flex;
}

.feed-left-column {
    top: 50px;
}