.feed-welcome {
    font-size: 3em;

    img {
        width: 185px;
    }
}

.form-container {
    height: 530px;

    &_post {
        height: inherit;
        .btn-post {
            height: 40px;
        }

        #postBody {
            resize: none;
            height: 120px;
        }
    }

    &_list {
        height: inherit;
    }
}

.pagination {
    &-top {
        z-index: 2;
    }

    &-bottom {
        z-index: 1;
    }
}