html,
body,
.home-columns {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    display: flex;
    flex-shrink: 0;
    height: 50px;

    p {
        margin: auto;
    }
}