html,
body,
.page-columns {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    img {
        width: 150px;
        height: fit-content;
    }
    
    .user-info {
        display: none;
        align-items: center;
        gap: 2em;
    
        .avatar {
            width: 35px;
            height: 35px;
        }
    
        a {
            text-decoration: none;
            font-weight: 500;
            color: white;
        }
    
        #btnLogout {
            background-color: transparent;
            border: none;
            color: white;
    
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

main {
    flex: 1 0 auto;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}