.form-search {
    top: 40px;
    z-index: 2;

    button {
        height: 40px;
        width: 45px;
    }

    input {
        height: 40px;
    }

    .hide-label {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }
}

.scroll-button {
    position: fixed;
    bottom: 2em;
    right: 2em;
    background-color: white;

    &:hover {
        background-color: $secondary;
    }
}

#userResults {
    button {
        width: 100%;
        margin-bottom: 1rem;

        p {
            max-width: inherit;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: $dark;
        }

        &:hover {
            min-width: fit-content;
            transform: scale(1.05);
        }

        &:hover p {
            overflow: visible;
        }
    }
    .search-result-user {
        img {
            width: 40px;
            height: 40px;
        }
    }
}