$primary: #1a3767;
$secondary: #ff5722;
$danger: #ff4444;
$danger-secondary: #d32f2f;
$success: #4caf50;
$success-secondary: #2e7d32;
$warning: #ff9800;
$info: #2196f3;
$info-secondary: #62b7fc;
$dark: #333333;
$light: #eeeeee;

$primary-logo-color-light-bg: $primary;
$secondary-logo-color-light-bg: #2c5591;

$border-radius: 3px;

// $list-group-color: white;
// $list-group-bg: $primary;
// $list-group-item-padding-y: .5em;

$accordion-button-bg: $primary;
$accordion-button-color: white;
$accordion-button-active-bg: $primary;
$accordion-button-active-color: white;
$accordion-icon-color: white;
$accordion-icon-active-color: white;